USE [master]
GO
/****** Object:  Database [POS]    Script Date: 22/03/2020 2:32:00 p. m. ******/
CREATE DATABASE [SISTEMAS]
GO
USE [SISTEMAS]
GO
/****** Object:  Schema [POS]    Script Date: 22/03/2020 2:32:00 p. m. ******/
CREATE SCHEMA [SISTEMAS]
GO
/****** Object:  Schema [SEG]    Script Date: 22/03/2020 2:32:00 p. m. ******/
CREATE SCHEMA [SEG]
GO
/****** Object:  Table [POS].[CLIENTE]    Script Date: 22/03/2020 2:32:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SISTEMAS].[CLIENTE](
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[NIT] [varchar](30) NULL,
	[DIRECCION] [varchar](80) NULL,
	[TELEFONO] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [POS].[DETALLE_FACTURA]    Script Date: 22/03/2020 2:32:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SISTEMAS].[DETALLE_FACTURA](
	[ID_FACTURA] [int] NOT NULL,
	[SERIE] [nvarchar](25) NOT NULL,
	[ID_DETALLE_FACTURA] [int] NOT NULL,
	[ID_PRODUCTO] [int] NULL,
	[PRECIO] [decimal](8, 2) NULL,
	[CANTIDAD] [int] NULL,
	[SUBTOTAL] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC,
	[SERIE] ASC,
	[ID_DETALLE_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [POS].[FACTURA]    Script Date: 22/03/2020 2:32:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SISTEMAS].[FACTURA](
	[ID_FACTURA] [int] NOT NULL,
	[SERIE] [nvarchar](25) NOT NULL,
	[FECHA] [datetime] NULL,
	[ID_CLIENTE] [int] NULL,
	[TOTAL] [decimal](10, 2) NULL,
	[ID_USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC,
	[SERIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [POS].[PRODUCTO]    Script Date: 22/03/2020 2:32:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SISTEMAS].[PRODUCTO](
	[ID_PRODUCTO] [int] NOT NULL,
	[ID_TIPO_PRODUCTO] [int] NULL,
	[DESCRIPCION] [nvarchar](100) NULL,
	[PRECIO] [decimal](8, 2) NULL,
	[EXISTENCIA] [int] NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [POS].[TIPO_PRODUCTO]    Script Date: 22/03/2020 2:32:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SISTEMAS].[TIPO_PRODUCTO](
	[ID_TIPO_PRODUCTO] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](80) NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [SEG].[ROL]    Script Date: 22/03/2020 2:32:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SEG].[ROL](
	[ID_ROL] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [SEG].[USUARIO]    Script Date: 22/03/2020 2:32:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [SEG].[USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[USUARIO] [varchar](50) NULL,
	[CLAVE] [varbinary](100) NULL,
	[ID_ROL] [int] NULL,
	[ESTADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [SISTEMAS].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_FACTURA_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [SISTEMAS].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [SISTEMAS].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE_FACTURA_PRODUCTO]
GO
ALTER TABLE [SISTEMAS].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_DETALLE_FACTURA] FOREIGN KEY([ID_FACTURA], [SERIE])
REFERENCES [SISTEMAS].[FACTURA] ([ID_FACTURA], [SERIE])
GO
ALTER TABLE [SISTEMAS].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_FACTURA_DETALLE_FACTURA]
GO
ALTER TABLE [SISTEMAS].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [SISTEMAS].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [SISTEMAS].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_CLIENTE]
GO
ALTER TABLE [SISTEMAS].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [SEG].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [SISTEMAS].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_USUARIO]
GO
ALTER TABLE [SISTEMAS].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_TIPO_PRODUCTO] FOREIGN KEY([ID_TIPO_PRODUCTO])
REFERENCES [SISTEMAS].[TIPO_PRODUCTO] ([ID_TIPO_PRODUCTO])
GO
ALTER TABLE [SISTEMAS].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_TIPO_PRODUCTO]
GO
ALTER TABLE [SEG].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([ID_ROL])
REFERENCES [SEG].[ROL] ([ID_ROL])
GO
ALTER TABLE [SEG].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
/****** Object:  StoredProcedure [POS].[SP_CONSULTA_CLIENTE]    Script Date: 22/03/2020 2:32:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SISTEMAS].[SP_CONSULTA_CLIENTE]
AS
	SELECT 
			ID_CLIENTE, (NOMBRE + ' ' + APELLIDO) NOMBRE, NIT, DIRECCION, TELEFONO
		FROM
			SISTEMAS.CLIENTE
GO
/****** Object:  StoredProcedure [POS].[SP_INSERTA_CLIENTE]    Script Date: 22/03/2020 2:32:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SISTEMAS].[SP_INSERTA_CLIENTE]
@NOMBRE VARCHAR(50), @APELLIDO VARCHAR(50), @NIT VARCHAR(20), @TELEFONO VARCHAR(12), @DIRECCION VARCHAR(50)
AS
BEGIN

		DECLARE @CORRELATIVO INT = (SELECT ISNULL(MAX(ID_CLIENTE),0) + 1 FROM SISTEMAS.CLIENTE)
		INSERT INTO SISTEMAS.CLIENTE
				( ID_CLIENTE,
				  NOMBRE ,
				  APELLIDO ,
				  NIT ,
				  TELEFONO ,
				  DIRECCION
				)
		VALUES  ( @CORRELATIVO,
				  @NOMBRE , -- NOMBRE - varchar(50)
				  @APELLIDO , -- APELLIDO - varchar(50)
				  @NIT , -- NIT - varchar(50)
				  @TELEFONO , -- TELEFONO - varchar(50)
				  @DIRECCION  -- DIRECCION - varchar(50)
				) 

		
END
GO
/****** Object:  StoredProcedure [POS].[SP_INSERTA_PRODUCTO]    Script Date: 22/03/2020 2:32:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SISTEMAS].[SP_INSERTA_PRODUCTO]

@ID_TIPO_PRODUCTO INT, @DESCRIPCION NVARCHAR(100), @PRECIO DECIMAL(8,2), @EXISTENCIA INT, @ESTADO INT

AS
BEGIN

		DECLARE @CORRELATIVO INT = (SELECT ISNULL(MAX(ID_PRODUCTO),0) + 1 FROM SISTEMAS.PRODUCTO)
		INSERT INTO SISTEMAS.PRODUCTO
				( ID_PRODUCTO,
				  ID_TIPO_PRODUCTO ,
				  DESCRIPCION ,
				  PRECIO ,
				  EXISTENCIA ,
				  ESTADO
				)
		VALUES  ( @CORRELATIVO,
				  @ID_TIPO_PRODUCTO , -- NOMBRE - varchar(50)
				  @DESCRIPCION , -- APELLIDO - varchar(50)
				  @PRECIO , -- NIT - varchar(50)
				  @EXISTENCIA , -- TELEFONO - varchar(50)
				  @ESTADO  -- DIRECCION - varchar(50)
				) 

		
END
GO
USE [master]
GO
